<h1><%= current_user.email %>, these are the events you've created</h1>


  <% current_user.created_events.each do |event| %>
    <li><%= event.title %></li>
    <br>
  <% end %>


 <h1>Here are your upcoming events.</h1>
<% current_user.attended_events.future.each do |event| %>
    <li><%= event.title %></li>
    <br>
    
  <% end %>

<h1>These are the events you've attend.</h1>
<% current_user.attended_events.past.each do |event| %>
    <li><%= event.title %></li>
    <br>
    
  <% end %>

 


  